extends ../layout/index

//- Se usa el bloque creado en el layout en index
block contenido
    div 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal text-indigo-600") Raices
        h2(class="text-center text-2xl font-extrabold")= pagina