extends ../layout/index

//- Se usa el bloque creado en el layout en index
block contenido
    div 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal text-indigo-600") Raices
        h2(class="text-center text-2xl font-extrabold")= pagina

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(action="", class="space-y-4") 
                
                    div
                        label(class="block text-sm uppercase text-gray-500 mb-2 font-bold", for="email") Tu Email:
                        input(type="text", placeholder="Tu Email", name="email", id="email", class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")

                    div(class="flex items-center justify-between")
                        a(href="/auth/registro", class="text-gray-500 text-xs") ¿No tienes cuenta? 
                            span(class="text-indigo-600") Crea una
                        a(href="/auth/login", class="text-gray-500 text-xs") ¿Ya tienes cuenta? 
                            span(class="text-indigo-600") Inicia Sesión

                    input(type="submit", value="Enviar Correo" class="w-full bg-indigo-600 hover:bg-indigo-700 cursor-pointer text-white font-bold py-3")